*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* !general propertyies */
input{
    border: none;
    outline: none;
    background-color: #000024;
    height: 35px;
    margin: 5px ;
    padding: 2px 5px;
    border-radius: 5px ;
    transition: 0.6s;
    color: white;
    cursor:pointer;
}
input:focus{
    transform: scale(1.04);
    background-color: #0000209c;

}
button{
    background-color: beige;
    height: 30px;
    color: rgba(0, 0, 0, 0.829);
    font-size: 23px;
    border: none;
    outline: none;
    text-transform: capitalize;
    border-radius: 5px;
    width: 99%;
    margin: auto;
    margin-top: 5px;
    font-weight: bold;
    transition: 0.6s;
    cursor: pointer;

}
button:hover{
 background-color: #aaaac5;
 color: rgb(0, 0, 0);
    transform: scale(1.04);
    letter-spacing: 2px;
}
body{
    width: 100%;
    min-height: 100vh;
    background-color: #1e1e42;
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.crud{
    width: 80%;
    height: 100%;
    margin: auto;
}
/* !Header Styling */
.header{
    text-align: center;
    text-transform: uppercase;
    margin: 10px;
}
.header h1{
    font-size: 50px;
    margin-bottom: 7px;
    letter-spacing: 3px;
}
.header p{
    font-size: 30px;
    color: rgba(255, 255, 255, 0.671);
}
/* !Inputs Styling */

.input{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.price{
    display: flex;
}
.price input{
    width: 20%;
}
.input small{
    background-color: #aaaac5;
  padding: 10px 7px;
  border-radius: 10px;
}
.input small::before{
    content: "total: ";
}
/* !output */
.output{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}
                
/* #deleteAll{
    width: 100%;
    height: 30px;
    background-color: red;
} */
.btnSearch{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.btnSearch button{
    width: 47%;
    margin: 10px 0;
    cursor: pointer;
}

table{
    text-align: center;
    margin: 10px;
    width: 100%;
}
th{
    text-transform: uppercase;
}
th,td{
    padding: 5px;
}
table td button{
width: 120px;
}










